@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  color:#000 ;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


